*{
    margin:0; padding: 0px;
    font-family: 'Cantarell','Ubuntu';
}

body{
    background-color: #21212f;
    content-align:  center;
    text-align: center;
}

#spacer2{
    height: 2em
}

#search{
    text-align: center;
    left: auto;
    width: 100;
    display:  block;

}
#search-txt{
    width: 30vmax;
    margin-top:2em;
    text-align:center !important;
    height:2em;
}

#header{
    text-align:center;
    display: block;
    color: blanchedalmond;
    font-weight:bold;
    height: 2em;
    font-size: 2em;
    padding-top: 1em
}

#main-desc{
    color:#ddd;
    font-size: 1em;
    text-align:  center;

}
#result{
    position:relative;
    display:  block;
    margin-left:auto;
    margin-right:  auto;
    left:auto;
    /* background-color: #353542; */
    border-radius:3px;
    width: 80%;
    height:  auto;
    padding-top: 2em;
    padding-bottom: 2em
}

#result-card{
    background-color: #fff;
    border-radius: 2px;
    /* padding: 1em; */
    /* padding-top: 1em; */
    height: 280px;
    width: 190px;
    display: inline-block;
    float: left;
    margin-left: 3em;
    margin-bottom: 3em;
    overflow:  hidden;
    border-radius: 5px;
}


#r_img{
    width: 200px;
    height: 210px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

#i{
    height: 225px;
    width: 190px;

}

#r_title{
    font-size: 1em
}

#regen{
    display:none
}
