*{
    margin: 0;
    padding: 0;
    overflow:  hidden;
}
.wing{
    min-height:100vh;
}
#wrapper{
    /* width: 100vmax; */
    overflow: hidden;
}
#left{
    position: relative;
    width: 20vmax;
    float: left;
    background-color: pink;
    color: red;
    overflow: none;
    padding: 1em 1em
}

#right{
    position: fixed;
    width: 80vmax;
    float: right;
    left: 20vmax;
    background-color: skyblue;
    /* overflow: hidden; */
}
#card-holder{
    background-color: #779ba9;
    margin: 2em 1em;
    height: 85vh;
    content-align: center;
    overflow-y: auto;

}
#card{
    background-color: white;
    width: 20%;
    text-align: center;
    padding: 2em;
    /* margin-left: 30%; */
    /* margin-right: 30%; */
    float: left;
    margin-left: 2em;
    margin-top: 2em

}

#header{
    text-align:center;
    background-color: blueviolet;

}
