#mynav {
    background-color: rgb(48, 43, 43);
    height: 40px;
    display: inline-flex;
    width: auto;
    align-content: center;
}

#mynav ul li {
    /* margin-top: -1em; */
    list-style: none;
    display: inline-block;
    align-content: center;
}

#mynav ul li a {
    color: white;
    position: relative;
    float: left;
    text-align: right;
    text-decoration: none;
    background-color: rgb(160, 148, 148);
    padding: 10px;
    margin-left: 1px;
}

#mynav ul li a:hover {
    background-color: lightblue;
}


/* ------ */

#main {
    margin-top: 2em;
    margin: 0% 10%;
    color: #ddd;
    padding-top: 1em;
}

body {
    background-color: #21212f;
    color: rgb(255, 255, 255);
}

div[id^='p'] {
    padding-top: 2em;
    display: list-item;
    background-color: #35353b;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 1em;
}

div[id^='p']::after {
    content: "--"attr(author);
    font-weight: bold;
}

#head1 {
    background-color: #ddd;
    color: rgb(255, 255, 255);
    height: 20em;
    padding-top: 3em;
    margin-top: 1em;
    background: url("https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") no-repeat center;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    background-attachment: fixed;
}

#head1>h2 {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
}

#head2 {
    background-color: #ddd;
    color: rgb(255, 255, 255);
    height: 20em;
    padding-top: 3em;
    margin-top: 1em;
    background: url("https://images.unsplash.com/photo-1551525457-b985cee39548?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") no-repeat center;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
    background-attachment: fixed;
}

#head2>h2 {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2em;
}

footer {
    padding: 2em 0 2em 0;
}


/* ---Utils--- */

.center {
    display: block;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.clear-1div {
    padding: 1em 0em 1em 0em;
}

.clear-2div {
    padding: 1em 0em 1em 0em;
}

* {
    padding: 0;
    margin: 0;
}