<!DOCTYPE html>
<html>
    <header>
        <title>Converter</title>
    </header>
    <body>
        <form method="POST">
            <label> Meters: </label>
            <input type="text" name="textbox" value="{{ user_text | safe }}" > </br></br>
            <label> Feet: </label>
            <label> {{ output | safe }} </label> </br>
            <button type="name" id="submit">Submit</button>
        </form>
    </body>
</html>

