*{
    font-family:"Ubuntu";
}

#content > *{
    font-weight: 300;
    font-style: italic;
    font-size: 20px;

}

.completed{
    text-decoration:line-through;
}

button{
    width: 5em !important;
    height: 2em !important;
    color: white;
    border-radius: 1em
}

button#del{
    border:none;
    float:right;
    background-color: #e53935;
}


button#add{
    border: none;
    float:right;
    background-color: #8BC34A;
    margin: 0 1em 1em 0;
}

#content {
    padding-left: 2em;
    padding: 1em;
    display: block;
    width: 60vw;
    margin: 0 auto
}

#txt{
    margin-bottom: 2em;
    width: 80%;
    /* float:left; */
    height: 2em;
}
#content ul li {
    background-color: #f9f9f9;
    list-style-type: none;
    text-align: centers;
    border: 1px solid #ddd;
    padding: 1em;
    display: block;
    overflow: auto

}

#todo-list{
    /* margin: 0 auto; */
}

@media screen and (max-width: 900px){
    #txt{
        width:70%
    }
}

